@import './index.scss';

.messenger-container {
  width: 100%;
  height: 100%;
  background-color: $dark-background;
  background-image: url("../../public/chat-bg.png");
  
  background-size: cover;
  background-size: 100% 100%;
  background-position: 0px 60px;
  background-clip: border-box;
  background-repeat: no-repeat;
  
  animation: load-animation 1.7s;
  
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  padding: 40px 24px;
  box-sizing: border-box;
  overflow: hidden;
}

.messenger-container::after {
  width: calc(100% + 24px*2);
  height: 10px;
  background: linear-gradient(90deg, lighten($dark-accent, 10) 12%, $dark-primary 100%);;
  position: static;
  translate: -24px 40px;
  content: '-';
}

$message-l-color: darken($dark-primary, 30);
$message-r-color: $dark-accent;

@keyframes new_message {
  0% {
    transform: scale(0.96) translateY(15px);
    opacity: 0%;
    
    height: 0;
    margin-bottom: 0px;
    color: transparent;
  }
  100% {
    transform: scale(1) translateY(0);
    height: auto;
    opacity: 100%;
  }
}

.message-typing-right {
  align-self: flex-end;
  background-color: $message-r-color !important;
}

.message-typing-right div {
  background-color: lighten($message-r-color, 30) !important;
}

.message-typing {
  animation-delay: 2s !important;
  animation: new_message 2s !important;
  opacity: 0%;
  height: 0px;
  display: flex !important;
  align-items: center !important;
  width: 70px !important;
  height: calc(23px + 16px*2 * 0.7) !important;
  justify-content: space-evenly !important;
  flex-shrink: 0;
}

@keyframes fade-in-out-a {
  100% {translate: 0 0px;}
  0% {translate: 0 0px;}
  17% {translate: 0 -10px;}
  33% { translate: 0px 0px;}
}
@keyframes fade-in-out-b {
  100% {translate: 0 0px;}
  0% {translate: 0 0px;}
  17% {translate: 0 0px;}
  50% {translate: 0 -10px;}
  67% { translate: 0px 0px;}
}
@keyframes fade-in-out-c {
  0% {translate: 0 0px;}
  67% {translate: 0 0px;}
  84% {translate: 0 -10px;}
  100% { translate: 0px 0px;}
}
.message-typing .l1 {
  animation: fade-in-out-a 1s !important;
  animation-iteration-count: infinite !important;
}
.message-typing .l2 {
  animation: fade-in-out-b 1s !important;
  animation-iteration-count: infinite !important;
}
.message-typing .l3 {
  animation: fade-in-out-c 1s !important;
  animation-iteration-count: infinite !important;
}
.message-typing div {
  width: 12px;
  height: 12px;
  background-color: lighten($message-l-color, 45);
  opacity: 100%;
  border-radius: 100%;
}

.message-container {
  padding: 0px 8px;
  border-radius: 16px;
  background-color: $message-l-color;
  color: $dark-text;
  max-width: 85%;
  font-family: "Poppins";
  font-size: inherit;
  width: fit-content;
  margin-bottom: 10px;
  z-index: 1;
  
  animation: new_message 0.5s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-container p {
  margin: 8px;
}

.reply-c-right {
  align-self: flex-end;
}

.reply-c-right::before {
  align-self: flex-end !important;
}

.reply-c::before {
  content: "Replied";
  align-self: flex-start;
  opacity: 60%;
}

.reply-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 55%;
  font-family: "Poppins";
  font-size: inherit;
  width: fit-content;
  color: rgba(255, 255, 255, 0.2);
}

.reply-ind-r {
  background-color: darken($message-l-color, 10);
}

.reply-ind {
  background-color: darken($message-r-color, 35);
  padding: 8px 8px;
  margin-bottom: 8px;
  border-radius: 16px;
  font-size: 1rem;
  width: fit-content;
}

.message-right {
  align-self: flex-end !important;
  background-color: $message-r-color !important;
}

.message-content {
  font-family: "Poppins";
  opacity: 90%;
}
